<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jiaojiejia.googlephoto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.MyApplication">

        <activity android:name=".activity.GooglePhotoActivity"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait"
                  android:theme="@style/NoActionBarTheme"/>

    </application>

</manifest>